
/* Utilise les variables dans ce code pour plus d'uniformité */

/* Permet de déclarer des variables */
:root {
 /* Variables que je crée moi-même */
    
    /* Couleur de fond principale */
    --primary-bg :#f8f9fc;
    
    /* Couleur du fond des cartes */
    --card-bg:#ffffff;

    /* Définit la couleur du texte principal */
    --text-main: #333;

    /* Définit la couleur du texte secondaire */
    --text-sub: #777;

    /* Couleur d'accentuation pour les éléments spécifiques comme des bordures  */
    --accent-color: #000;
}

body{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-bg);
    margin: 15px;
    padding : 20px;
    color : var(--text-main);
}

.container {
    max-width: 500px;
    /* margin: 0 auto; */
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

h1 { font-size: 1.5rem; margin:0; }
.welcome {color: var(--text-sub); margin-top: 15px; }

.logout-btn {
    border: 1px solid #ccc;
    background: white;
    padding: 8px 12px;
    cursor: pointer;
    background: var(--accent-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}


/* Cartes */
.card, .info-section {
    background: var(--card-bg);
    border-radius:15px;
    padding: 20px;
    margin-bottom: 45px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.card {
    cursor:pointer;
}
/* .action-card {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
} */

.action-card h3 { margin: 0; font-size: 1.1rem}
.action-card p { margin: 0; color: var(--text-sub); font-size:0.9rem; }


/* Section d'information */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.info-content p {
    margin: 10px 0;
    font-size: 0,9rem;
    cursor: pointer;
}

/* Bouton Ajouter */
.add-btn {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

Etat vide
.empty-state {
    text-align: center;
    padding: 40px 0;
    color: var(--text-sub);
}

.empty-icon { font-size: 3rem; opacity: 0.3; margin-bottom: 10px; }
.sub-text { font-size: 0.8rem; }