body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    margin: 15px;
    padding : 20px;
}

/* Le contenu du formulaire */

form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

h2{
    text-align: center;
    margin-bottom: 5px;
    color: #000;
}

p{
    text-align: center;
    color: #666;
    margin-bottom: 25px;
    /* font-size : 0.9em; */
}

/* Style des labels (Nom, Prénoms, ect.) */
label {
    display:  block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
}

/* Style des champs de saisie (input et textearea) */
input[type="text"],
input[type="number"],
textarea{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f1f3f5;
    /* Eviter que les champs dépassent */
    box-sizing: border-box;
    font-size: 16px;
}

input:focus, textarea:focus{
    outline: none;
    border-color: #aaa;
    background-color: #fff;
}

.button-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px; 
}

.btn{
    flex: 1;
    background: white;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
} 

.btn-ajouter {
    background: #000000;
    color: white;
}

.btn-annuler {
    background: white;
    color: #000000;
}

.btn-x {
    background: #000000;
    color: white;
}